body{
    width: 450px;
    margin: 0 auto;
    background: #ff69b4;
    color: #fff;
    padding-top: 90px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
p{
    text-indent: 2em;
}
.banner-text{
    float: none;
}
.banner-text h2{
    font-size: 55px;
    font-weight: 400;
}
.banner-text button{
    padding: 10px 50px;
    border: none;
    background-color: #689700;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
}
