*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
}
.header{
    width: 100%;
    height: 20px;
    border: 1px solid rgb(0, 255, 76);
    margin: 0px auto;
}
.header_left{
    width: 400px;
    height: 20px;
    border: 1px solid rgb(99, 2, 255);
    float: left;
}
.header_right{
    width: 400px;
    height: 20px;
    border: 1px solid rgb(2, 255, 69);
    float: right;
}  /* header style end */

/* logo style start */
#logo{
    width: 1200px;
    height: 340px;
    border: 1px solid rgb(255, 87, 115);
    margin: 0 auto;
}
.logo_top{
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
}
.logo_bottom{
    width: 800px;
    height: 40px;
    border: 1px solid rgb(55, 0, 255);
    margin: 0 auto;
}
/* logo style end */
/* user style start */
#user{
    width: 60%;
    border: 1px solid yellowgreen;
    margin: 0 auto;
}
.user{
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.user>section{
    width: 15%;
    height: 50px;
    border: 1px solid black;
}
