.swiper-container{
    width: 600px;
    height: 1000px;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    margin: 0 auto;
    background: #ff69b4;
    color: #fff;
    padding-top: 90px;
}
.container{
    width: 968px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}
.header .logo{
    padding-top: 10px;   
    float: inline-end;
    margin-top: 30px;
    height: 300px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
p{
    text-indent: 2em;
}
.banner-text{
    float: none;
}
.banner-text h2{
    font-size: 55px;
    font-weight: 400;
}
.banner-text button{
    padding: 10px 50px;
    border: none;
    background-color: #689700;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
}
.banner-text h3{
    color: #999;
}
.info button{
    list-style-type: none;
    padding: 10px 50px;
    border: none;
    background-color: #689700;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
}

